<div
  class="overlay"
  *ngIf="isVisible"
  (click)="onCancel()">

  <div
    class="dialog"
   (click)="$event.stopPropagation()" >

    <div class="dialog-icon" [ngClass]="'icon-' + type">
      <span *ngIf="type === 'danger'">🗑️</span>
      <span *ngIf="type === 'warning'">⚠️</span>
      <span *ngIf="type === 'info'">ℹ️</span>
    </div>

    <h3 class="dialog-title">{{ title }}</h3>

    <p class="dialog-message">{{ message }}</p>

    <div class="dialog-actions">

      <button
        class="btn-cancel"
        (click)="onCancel()">
        {{ cancelText }}
      </button>

      <button
        class="btn-confirm"
        [ngClass]="'btn-' + type"
        (click)="onConfirm()">
        {{ confirmText }}
      </button>

    </div>

  </div>

</div>